<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Organiser Registration</title>
    <link rel="stylesheet" href="/css/style8.css" />
</head>
<body>

<div class="site-title-wrapper">
  <h1 class="site-title"><%= settings.siteTitle || 'Namaste Yoga' %></h1>
  <p class="site-description"><%= settings.siteDescription || 'Where you can find balance, strength, and peace through mindful yoga practice.' %></p>
</div>

<div class="container">
    <h1>Organiser Registration</h1>
    <form method="POST" action="/admin/register">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        
        <button type="submit">Register</button>
    </form>

    <div class="login-link">
        <a href="/admin/loginpage">Already have an account? Login here</a>
    </div>
</div>

</body>
</html>