<!-- views/errorPage.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" href="/css/style8.css">
</head>
<body>
  <div class="container">
    <h1>Error</h1>
    <p><%= message %></p>
    <a href="/">Back to Previous Page</a>
  </div>
</body>
</html>
